<h3>こんにちは、<%= current_user.name %>さん</h3>
<% if flash[:notice] %>
	<div class="alert alert-success">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <%= flash[:notice] %>
	</div>
<% end %>
<table class="table table-bordered">
<tr>
	<td width="150px">説明会</td>
	<td>
	  <% if Orientation.where(:user_id => current_user.id).exists? %>
        <% orientation = Orientation.find(:first, :conditions => {:user_id => current_user.id}) %>
        説明会を次の日程で予約済みです。<br>
        日時：<%= orientation.meeting.meeting_date.to_s(:date_ja) %>
        時間：<%= orientation.meeting.meeting_time.to_s(:simple_time) %>〜
        場所：<%= orientation.meeting.meeting_place %>
	  <% else %>
	    説明会の予約を取ってください！
	  <% end %>
	</td>
</tr>
<tr>
	<td>申し込み状況</td>
	<td>
    <% if Camp.where(:user_id => current_user.id).exists? %>
        <% camp = Camp.find(:first, :conditions => {:user_id => current_user.id}) %>
        [<%= camp.cource.cource_name %>]で申し込み済みです。
	  <% else %>
	    申し込み手続きをとってください！
	  <% end %>
	</td>
</tr>
<tr>
	<td>申し込みコース</td>
	<td></td>
</tr>
</table>