<h1>Listing orientations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Meeting</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orientations.each do |orientation| %>
  <tr>
    <td><%= orientation.user_id %></td>
    <td><%= orientation.meeting_id %></td>
    <td><%= orientation.state %></td>
    <td><%= link_to 'Show', orientation %></td>
    <td><%= link_to 'Edit', edit_orientation_path(orientation) %></td>
    <td><%= link_to 'Destroy', orientation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orientation', new_orientation_path %>
