<!DOCTYPE html>
<html>
<head>
  <title>PBC2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
    	padding-top: 60px;
    	padding-bottom: 40px;
    }

    #btn {
      margin-top: -2.6px;
      margin-left: 10px;
      padding: 1px 5px;
    }
  </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container-fluid">
	  	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	  	</button>
	    <%= link_to 'PBC2013特設ページ', {:controller => "home", :action => "index"}, {:class => "brand"} %>
	    <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <%= link_to current_user.name, {:controller => "home", :action => "index"},  {:class => "navbar-link"} %>
          <%= link_to "ログアウト", destroy_user_session_path, {:method => :delete, :class => "btn btn-inverse", :id => "btn"} %>
        </p>
	    </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
      	<ul class="nav nav-list">
          <li><%= link_to '合宿申し込み', {:controller => "camp", :action => "entry"} %></li>
          <li><%= link_to '合宿概要', {:controller => "camp", :action => "about"} %></li>
      		<li>開講部門紹介</li>
      		<ul class="nav nav-list">
      		  <li class="nav-header">開発部門</li>
      		    <li>プログラマコース</li>
              <li>システムデザインコース</li>
      		  <li class="nav-header">デザイン部門</li>
      		    <li>Webデザインコース<li>
      		  <li class="nav-header">初心者部門</li>
      		    <li>初心者コース</li>
      		</ul>
      	</ul>
      </div>
    </div>
    <div class="span9">
      <div class="well">
        <%= yield %>
      </div>
    </div>
  </div>
  <hr>
  <footer>
  	<p align="center">
  		&copy; Programing Boot Camp 2013 All Rights Reserved
  	</p>
  </footer>
</div>
</body>
</html>
